In [5]:
%%time

## Import packages
import swat
import os
import pandas as pd


## Please specify your specific connection to CAS
conn = swat.CAS()

## Connect to SAS Viya (This works in Viya for learners)
# hostValue = os.environ.get('CASHOST')
# portValue = os.environ.get('CASPORT')
# passwordToken=os.environ.get('SAS_VIYA_TOKEN')
# conn = swat.CAS(hostname=hostValue,port=portValue,password=passwordToken)


## Set options
pd.set_option('display.max_columns', None)


## Load action sets
conn.loadActionSet('freqTab')
conn.loadActionSet('fedSQL')

## Add a caslib
conn.addCaslib(name='ate_cas', path=r'/shared/home/Peter.Styliadis@sas.com/ate_path')


## View available files in a caslib
display(conn.fileInfo(caslib='ate_cas'))


## Load data into CAS memory
loadFilesIntoMemory = ['orders_demo.sashdat', 'discount_lookup.sas7bdat']   ## <---Use the sashdat file
for file in loadFilesIntoMemory:
    conn.loadTable(path = file, 
                   caslib = 'ate_cas', 
                   casout = {'caslib':'ate_cas', 
                             'replace':True})

    
## View available CAS tables
display(conn.tableInfo(caslib='ate_cas'))

    
## Reference the orders_demo CAS table
ordersTbl = conn.CASTable('orders_demo', caslib='ate_cas')


## Explocre the orders_demo table
display(ordersTbl.head())
display(ordersTbl.summary())


## Execute the data step code
ds_code = """
data ate_cas.orders_demo_calc_columns;
    set ate_cas.orders_demo;
    Year = year(OrderDate);
    Month = Month(OrderDate);
    TotalCost = Quantity * Cost;
    TotalPrice = Quantity * Price;    
    Profit = TotalPrice - TotalCost;
    pctProfit = Profit / TotalCost;
    if Return='' then Return='No';
    format pctProfit percent7.2
           Price Cost TotalPrice TotalCost Profit dollar28.2;
    run;
"""
display(conn.runCode(code=ds_code))


## Reference the new table created from the data step
orders_demo_calc_columns = conn.CASTable('orders_demo_calc_columns', caslib='ate_cas')


## View frequency tables of the new CAS table 
display(orders_demo_calc_columns.freqTab(tabulate = ['Product', 'Country', 'DiscountCode', 'Return', 'Year']))


## Preview the new CAS table
display(orders_demo_calc_columns.head(10))


## Reference and preview the discount lookup table
discount_table = conn.CASTable('discount_lookup', caslib='ate_cas')
display(discount_table.head(10))


## Join the data using FedSQL
join_query = """
    create table ate_cas.orders_demo_final as
    select f.*, 
           l.pct_discount * .01 as pctDiscount, 
           l.discount_description
        from ate_cas.orders_demo_calc_columns as f left join 
             ate_cas.discount_lookup as l
        on f.DiscountCode = l.discountCode;
"""
display(conn.execDirect(query = join_query))


## Preview the final data
orders_final = conn.CASTable('orders_demo_final', caslib='ate_cas')
display(orders_final.head())


## Summarize totals by Country and Year
display(conn.summary(table={'name':'orders_demo_final',
                            'caslib':'ate_cas',
                            'groupby':{'Country','Year'}},
                       subset='SUM',
                       inputs={'TotalCost','TotalPrice','Profit'},
                       casout={'name':'orders_summary', 'caslib':'ate_cas'})
)

display(conn.fetch(table={'name':'orders_summary', 'caslib':'ate_cas'}))

conn.terminate()

NOTE: Added action set 'freqTab'.
NOTE: Added action set 'fedSQL'.
NOTE: 'ate_cas' is now the active caslib.
NOTE: Cloud Analytic Services added the caslib 'ate_cas'.

,Permission,Owner,Group,Name,Size,Encryption,Time,ModTime
0,-rwxr-xr-x,Peter.Styliadis@sas.com,v4e_users,orders_demo.sashdat,1440534880,NONE,2022-06-24T09:10:56-04:00,1.971695e+09
1,-rw-r--r--,Peter.Styliadis@sas.com,v4e_users,orders_demo.sas7bdat,1443627008,,2022-06-24T09:10:41-04:00,1.971695e+09
2,-rw-r--r--,Peter.Styliadis@sas.com,v4e_users,discount_lookup.sas7bdat,131072,,2022-06-24T09:10:41-04:00,1.971695e+09

NOTE: Cloud Analytic Services made the file orders_demo.sashdat available as table ORDERS_DEMO in caslib ate_cas.
NOTE: Cloud Analytic Services made the file discount_lookup.sas7bdat available as table DISCOUNT_LOOKUP in caslib ate_cas.

,Name,Rows,Columns,IndexedColumns,Encoding,CreateTimeFormatted,ModTimeFormatted,AccessTimeFormatted,JavaCharSet,CreateTime,ModTime,AccessTime,Global,Repeated,View,MultiPart,SourceName,SourceCaslib,Compressed,Creator,Modifier,SourceModTimeFormatted,SourceModTime
0,ORDERS_DEMO,10000000,9,0,utf-8,2022-06-24T09:37:45-04:00,2022-06-24T09:37:45-04:00,2022-06-24T09:37:45-04:00,UTF8,1.971697e+09,1.971697e+09,1.971697e+09,0,0,0,0,orders_demo.sashdat,ate_cas,0,Peter.Styliadis@sas.com,,2022-06-24T09:10:56-04:00,1.971695e+09
1,DISCOUNT_LOOKUP,7,3,0,utf-8,2022-06-24T09:37:45-04:00,2022-06-24T09:37:45-04:00,2022-06-24T09:37:45-04:00,UTF8,1.971697e+09,1.971697e+09,1.971697e+09,0,0,0,0,discount_lookup.sas7bdat,ate_cas,0,Peter.Styliadis@sas.com,,2022-06-24T09:10:41-04:00,1.971695e+09

,Product,Country,OrderDate,DiscountCode,Return,StoreID,Quantity,Price,Cost
0,Pants,EN,2020-06-27,FREEDEAL,,19.0,330.0,7.64,1.49
1,Shirts,US,2020-09-19,,,31.0,440.0,6.39,1.99
2,Shirts,CA,2019-12-01,,,20.0,265.0,7.19,1.99
3,Sweatshirt,EN,2021-10-10,,,12.0,210.0,9.89,1.99
4,Pants,CA,2021-11-17,TC10,,27.0,260.0,8.09,1.49

,Column,Min,Max,N,NMiss,Mean,Sum,Std,StdErr,Var,USS,CSS,CV,TValue,ProbT,Skewness,Kurtosis
0,OrderDate,20820.00,22644.00,10000000.0,0.0,21918.227434,2.191823e+11,502.415101,0.158878,252420.933811,4.806611e+15,2.524209e+12,2.292225,137956.683258,0.0,-0.388226,-0.958451
1,StoreID,1.00,73.00,10000000.0,0.0,19.502072,1.950207e+08,6.329728,0.002002,40.065462,4.203963e+09,4.006546e+08,32.456696,9743.066962,0.0,0.629141,0.593523
2,Quantity,20.00,500.00,10000000.0,0.0,260.121003,2.601210e+09,138.555503,0.043815,19197.627303,8.686056e+11,1.919763e+11,53.265788,5936.789382,0.0,-0.001188,-1.198944
3,Price,3.99,10.99,10000000.0,0.0,7.702386,7.702386e+07,1.577715,0.000499,2.489185,6.181593e+08,2.489185e+07,20.483459,15438.201197,0.0,-0.216824,0.187065
4,Cost,0.99,1.99,10000000.0,0.0,1.740065,1.740065e+07,0.335424,0.000106,0.112509,3.140336e+07,1.125090e+06,19.276498,16404.834872,0.0,-0.994343,-0.221449

[InputCasTables]

     casLib         Name      Rows  Columns  \
 0  ate_cas  orders_demo  10000000        9

                                     casTable
 0  CASTable('orders_demo', caslib='ate_cas')

[OutputCasTables]

     casLib                      Name      Rows  Columns  Append Promoted  \
 0  ate_cas  orders_demo_calc_columns  10000000       15     NaN        N

                                             casTable
 0  CASTable('orders_demo_calc_columns', caslib='a...

+ Elapsed: 0.727s, user: 6.39s, sys: 1.18s, mem: 72mb

[NObs]

 Number of Observations

       RowId                  Description       Value
 0     NREAD  Number of Observations Read  10000000.0
 1     NUSED  Number of Observations Used  10000000.0
 2  NWEIGHTS               Sum of Weights  10000000.0

[LevelInfo]

 Variable Level Information

        Variable  Levels                                          Values
 0       Country       5                                  AU CA EN GR US
 1  DiscountCode       7  BB20 EMP50 FMDISCOUNT FREEDEAL SPC TC10 TENOFF
 2       Product       4                    Hats Pants Shirts Sweatshirt
 3        Return       2                                          No Yes
 4          Year       5                        2017 2018 2019 2020 2021

[Table1.OneWayFreqs]

 Product

     F_Product     Product  Frequency   Percent  CumFrequency  CumPercent
 0        Hats        Hats  1000180.0  10.00180     1000180.0    10.00180
 1       Pants       Pants  2998337.0  29.98337     3998517.0    39.98517
 2      Shirts      Shirts  4001764.0  40.01764     8000281.0    80.00281
 3  Sweatshirt  Sweatshirt  1999719.0  19.99719    10000000.0   100.00000

[Table2.OneWayFreqs]

 Country

   F_Country Country  Frequency   Percent  CumFrequency  CumPercent
 0        AU      AU   999646.0   9.99646      999646.0     9.99646
 1        CA      CA  1999416.0  19.99416     2999062.0    29.99062
 2        EN      EN   999197.0   9.99197     3998259.0    39.98259
 3        GR      GR  2000292.0  20.00292     5998551.0    59.98551
 4        US      US  4001449.0  40.01449    10000000.0   100.00000

[Table3.OneWayFreqs]

 DiscountCode

   F_DiscountCode DiscountCode  Frequency    Percent  CumFrequency  CumPercent
 0           BB20         BB20   299707.0  14.989127      299707.0   14.989127
 1          EMP50        EMP50   179815.0   8.993016      479522.0   23.982144
 2     FMDISCOUNT   FMDISCOUNT    20072.0   1.003853      499594.0   24.985996
 3       FREEDEAL     FREEDEAL   100243.0   5.013413      599837.0   29.999410
 4            SPC          SPC   299897.0  14.998630      899734.0   44.998040
 5           TC10         TC10   600091.0  30.012113     1499825.0   75.010153
 6         TENOFF       TENOFF   499671.0  24.989847     1999496.0  100.000000

[Table4.OneWayFreqs]

 Return

   F_Return Return  Frequency  Percent  CumFrequency  CumPercent
 0       No     No  9480600.0   94.806     9480600.0      94.806
 1      Yes    Yes   519400.0    5.194    10000000.0     100.000

[Table5.OneWayFreqs]

 Year

   F_Year    Year  Frequency   Percent  CumFrequency  CumPercent
 0   2017  2017.0   998977.0   9.98977      998977.0     9.98977
 1   2018  2018.0  1498536.0  14.98536     2497513.0    24.97513
 2   2019  2019.0  2200746.0  22.00746     4698259.0    46.98259
 3   2020  2020.0  2001149.0  20.01149     6699408.0    66.99408
 4   2021  2021.0  3300592.0  33.00592    10000000.0   100.00000

[Timing]

 Task Timing

                        Task      Time   RelTime
 0         Setup and Parsing  0.004568  0.003929
 1              Levelization  0.412759  0.355063
 2  Producing Results Tables  0.745163  0.641003
 3                   Cleanup  0.000006  0.000005
 4                     Total  1.162496  1.000000

+ Elapsed: 1.17s, user: 35.7s, sys: 0.00763s, mem: 8.68mb

,Product,Country,OrderDate,DiscountCode,Return,StoreID,Quantity,Price,Cost,Year,Month,TotalCost,TotalPrice,Profit,pctProfit
0,Hats,US,2021-02-11,,No,30.0,25.0,4.99,0.99,2021.0,2.0,24.75,124.75,100.00,4.040404
1,Shirts,EN,2021-04-11,,No,20.0,155.0,7.59,1.99,2021.0,4.0,308.45,1176.45,868.00,2.814070
2,Pants,EN,2021-03-15,,No,15.0,245.0,8.09,1.49,2021.0,3.0,365.05,1982.05,1617.00,4.429530
3,Sweatshirt,US,2020-09-23,,No,17.0,60.0,10.99,1.99,2020.0,9.0,119.40,659.40,540.00,4.522613
4,Pants,CA,2020-02-20,,No,25.0,355.0,7.64,1.49,2020.0,2.0,528.95,2712.20,2183.25,4.127517
5,Sweatshirt,US,2017-08-09,TC10,No,10.0,35.0,10.99,1.99,2017.0,8.0,69.65,384.65,315.00,4.522613
6,Shirts,CA,2020-11-04,,Yes,15.0,380.0,6.79,1.99,2020.0,11.0,756.20,2580.20,1824.00,2.412060
7,Shirts,GR,2020-06-05,,No,6.0,260.0,7.19,1.99,2020.0,6.0,517.40,1869.40,1352.00,2.613065
8,Shirts,CA,2018-06-27,,No,12.0,295.0,7.19,1.99,2018.0,6.0,587.05,2121.05,1534.00,2.613065
9,Shirts,GR,2018-11-25,BB20,No,25.0,270.0,7.19,1.99,2018.0,11.0,537.30,1941.30,1404.00,2.613065

Selected Rows from Table DISCOUNT_LOOKUP

  DiscountCode      Discount_Description  pct_discount
0         TC10           summer discount          10.0
1         BB20       TV special discount          20.0
2       TENOFF     email signup discount          10.0
3        EMP50         employee discount          50.0
4   FMDISCOUNT           family discount          25.0
5          SPC  holiday special discount          30.0
6     FREEDEAL        free discount code         100.0

NOTE: CASDAL driver. Creation of a DATE column has been requested, but is not supported by the CASDAL driver. A DOUBLE PRECISION column will be created instead. A DATE format will be associated with the column.
NOTE: Table ORDERS_DEMO_FINAL was created in caslib ate_cas with 10000000 rows returned.

+ Elapsed: 0.978s, user: 14.8s, sys: 1.69s, mem: 234mb

,Product,Country,OrderDate,DiscountCode,Return,StoreID,Quantity,Price,Cost,Year,Month,TotalCost,TotalPrice,Profit,pctProfit,PCTDISCOUNT,Discount_Description
0,Shirts,US,2018-04-06,,No,21.0,100.0,7.99,1.99,2018.0,4.0,199.00,799.00,600.00,3.015075,NaN,
1,Hats,GR,2021-01-31,,No,15.0,395.0,4.24,0.99,2021.0,1.0,391.05,1674.80,1283.75,3.282828,NaN,
2,Sweatshirt,AU,2020-03-18,,No,21.0,165.0,10.44,1.99,2020.0,3.0,328.35,1722.60,1394.25,4.246231,NaN,
3,Sweatshirt,US,2021-08-07,,No,14.0,75.0,10.99,1.99,2021.0,8.0,149.25,824.25,675.00,4.522613,NaN,
4,Hats,AU,2021-10-13,BB20,No,25.0,130.0,4.74,0.99,2021.0,10.0,128.70,616.20,487.50,3.787879,0.2,TV special discount

,casLib,Name,Rows,Columns,casTable
0,ate_cas,orders_summary,75,6,"CASTable('orders_summary', caslib='ate_cas')"

[Fetch]

 Selected Rows from Table ORDERS_SUMMARY

       Year        Year_f Country Country_f    _Column_         _Sum_
 0   2017.0          2017      AU        AU      Profit  1.469643e+08
 1   2017.0          2017      AU        AU   TotalCost  4.529027e+07
 2   2017.0          2017      AU        AU  TotalPrice  1.922546e+08
 3   2017.0          2017      CA        CA      Profit  2.938536e+08
 4   2017.0          2017      CA        CA   TotalCost  9.045042e+07
 5   2017.0          2017      CA        CA  TotalPrice  3.843040e+08
 6   2017.0          2017      EN        EN      Profit  1.472425e+08
 7   2017.0          2017      EN        EN   TotalCost  4.533184e+07
 8   2017.0          2017      EN        EN  TotalPrice  1.925744e+08
 9   2017.0          2017      GR        GR      Profit  2.932690e+08
 10  2017.0          2017      GR        GR   TotalCost  9.026808e+07
 11  2017.0          2017      GR        GR  TotalPrice  3.835370e+08
 12  2017.0          2017      US        US      Profit  5.882587e+08
 13  2017.0          2017      US        US   TotalCost  1.809793e+08
 14  2017.0          2017      US        US  TotalPrice  7.692380e+08
 15  2018.0          2018      AU        AU      Profit  2.199840e+08
 16  2018.0          2018      AU        AU   TotalCost  6.767588e+07
 17  2018.0          2018      AU        AU  TotalPrice  2.876599e+08
 18  2018.0          2018      CA        CA      Profit  4.405902e+08
 19  2018.0          2018      CA        CA   TotalCost  1.356192e+08

+ Elapsed: 0.000963s, user: 0.000944s, mem: 0.919mb

CPU times: user 563 ms, sys: 65 ms, total: 628 ms
Wall time: 3.99 s